######################################################################################################
#                                         STREAMTUBE: MinIO
######################################################################################################

# Usage: Copy to 'minio.env' and fill with real credentials
# Note: Generates the 'minio-secrets' Secret via Kustomize.


#####################################
# OBJECT STORAGE (MinIO / AWS S3)
#####################################
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password

# 'INIT_MINIO_' prefix variable use for minio init script (infra/config/minio/init.sh)

# User for generating STS tokens (Frontend read-only access)
INIT_MINIO_STS_USER=stsuser
INIT_MINIO_STS_PASSWORD=stspassword
# Bucket Name
INIT_MINIO_BUCKET=streamtube
# INIT_MINIO_ENDPOINT is used for internal communication(service to service)
INIT_MINIO_ENDPOINT=http://minio:9000
# Set true for MinIO, false for AWS S3
INIT_MINIO_FORCE_PATH_STYLE=true


#######################################
# MINIO EVENT NOTIFICATIONS (Webhooks)
#######################################
MINIO_NOTIFY_AMQP_ENABLE_rabbitmq1=on
# URL must use the internal docker hostname 'rabbitmq'
MINIO_NOTIFY_AMQP_URL_rabbitmq1=amqp://admin:password@rabbitmq-0.rabbitmq.default.svc.cluster.local:5672/
MINIO_NOTIFY_AMQP_EXCHANGE_rabbitmq1=video.events
MINIO_NOTIFY_AMQP_EXCHANGE_TYPE_rabbitmq1=direct
MINIO_NOTIFY_AMQP_ROUTING_KEY_rabbitmq1=video.raw.uploaded
# 1 = Non-Persistent, 2 = Persistent (Recommended)
MINIO_NOTIFY_AMQP_DELIVERY_MODE_rabbitmq1=2
MINIO_NOTIFY_AMQP_DURABLE_rabbitmq1=on