services:
    api-node-dev:
      image: node:trixie-slim
      container_name: api-service-node-dev
      ports:
        - 127.0.0.1:8001:${PORT}
      volumes:
        - ../../backend/app:/app/
      working_dir: /app 
      command: sh -c "npm run dev"
      networks:
        - socialmedia
      user: 1000:1000

networks:
  socialmedia:
   external: true