services:
    node:
      image: ffmpeg-node
      container_name: node-video-processor-dev-node
      volumes:
        - ../../backend/videoTranscoder:/app/
      working_dir: /app
      user: 1000:1000
      stdin_open: true
      tty: true
      networks:
        - streamtube
      # deploy:
      #     resources:
      #       limits:
      #         cpus: '8.0'  # Allocating 4 logical CPUs
      #         memory: 10G    # Allocating 8GB of memory


networks:
  streamtube:
    external: true