services:
    node:
      build:
        context: ../../
        dockerfile: docker/dev/Dockerfile.ffmpeg
      image: ffmpeg-node
      container_name: node-video-processor-dev-node
      volumes:
        - ../../backend/videoTranscoder:/app/
      working_dir: /app
      user: 1000:1000
      stdin_open: true
      tty: true
      networks:
        - streamtube
      command: > # Simple Restart Loop (to use same video-transcoder container for mutiple jobs)
        sh -c "
          while true; do 
            echo 'Worker checking for jobs';
            npm start;
            echo 'Done or Empty. Sleeping 5s';
            sleep 5;
          done
        "
      # deploy:
      #     resources:
      #       limits:
      #         cpus: '8.0'  # Allocating 4 logical CPUs
      #         memory: 10G    # Allocating 8GB of memory


networks:
  streamtube:
    external: true