######################################################################################################
#                                       STREAMTUBE: MongoDB
######################################################################################################

# Usage: Copy to 'mongodb.env' and fill with real credentials
# Note: Generates the 'mongodb-secrets' Secret via Kustomize.


###########################
# MONGODB CONFIGURATION
###########################
MONGODB_ROOT_USERNAME=admin
MONGODB_ROOT_PASSWORD=password
MONGODB_AUTH_SOURCE=admin