######################################################################################################
#                                       STREAMTUBE: MongoDB
######################################################################################################

# Usage: Copy to 'mongodb.env' and fill with real credentials
# Note: Generates the 'mongodb-secrets' Secret via Kustomize.


###########################
# MONGODB CONFIGURATION
###########################
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=password