###############################
# INFRA (DOCKER COMPOSE)
###############################

# - Copy this file to .env
# - Adjust values if needed (defaults work for compose.yaml/compose.dev.yaml)
# - Don't use these hostnames for Kubernetes
# - For Kubernetes deployments, use the configurations in infra/k8s/


###########################
# MONGODB CONFIGURATION
###########################
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=password


#####################################
# OBJECT STORAGE (MinIO / AWS S3)
#####################################
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password

# 'INIT_MINIO_' prefix variable use for minio init script (infra/config/minio/init.sh)

# User for generating STS tokens (Frontend read-only access)
INIT_MINIO_STS_USER=stsuser
INIT_MINIO_STS_PASSWORD=stspassword
# Bucket Name
INIT_MINIO_BUCKET=streamtube
# INIT_MINIO_ENDPOINT is used for internal communication(service to service)
INIT_MINIO_ENDPOINT=http://minio:9000
# Set true for MinIO, false for AWS S3
INIT_MINIO_FORCE_PATH_STYLE=true


#######################################
# MINIO EVENT NOTIFICATIONS (Webhooks)
#######################################
MINIO_NOTIFY_AMQP_ENABLE_rabbitmq1=on
MINIO_NOTIFY_AMQP_URL_rabbitmq1=amqp://admin:password@rabbitmq:5672/
MINIO_NOTIFY_AMQP_EXCHANGE_rabbitmq1=video.events
MINIO_NOTIFY_AMQP_EXCHANGE_TYPE_rabbitmq1=direct
MINIO_NOTIFY_AMQP_ROUTING_KEY_rabbitmq1=video.raw.uploaded
# 1 = Non-Persistent, 2 = Persistent (Recommended)
MINIO_NOTIFY_AMQP_DELIVERY_MODE_rabbitmq1=2
MINIO_NOTIFY_AMQP_DURABLE_rabbitmq1=on


###########################
# POSTGRESQL CONFIGURATION
###########################
POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_DB=mydatabase


############################
# PGADMIN (Database GUI)
############################
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=password


############################
# RABBITMQ CONFIGURATION
#############################
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=password

# 'INIT_RABBITMQ_' prefix variable use for rabbitmq init script (infra/config/rabbitmq/init.sh)

INIT_RABBITMQ_MANAGEMENT_PORT=15672
# Docker service name (DNS) 'rabbitmq'
INIT_RABBITMQ_HOST=rabbitmq
# Video Processing Setup
INIT_RABBITMQ_VIDEO_PROCESSING_EXCHANGE=video.events
INIT_RABBITMQ_VIDEO_PROCESSING_QUEUE=video.transcode.queue
INIT_RABBITMQ_VIDEO_PROCESSING_ROUTING_KEY=video.raw.uploaded