###############################
# INFRA (DOCKER COMPOSE)
###############################

# - Copy this file to .env
# - Adjust values if needed (defaults work for compose.yaml/compose.dev.yaml)
# - Don't use these hostnames for Kubernetes
# - For Kubernetes deployments, use the configurations in infra/k8s/




###########################
# MONGODB CONFIGURATION
###########################
MONGODB_ROOT_USERNAME=admin
MONGODB_ROOT_PASSWORD=password


#####################################
# OBJECT STORAGE (MinIO / AWS S3)
#####################################
STORAGE_ACCESS_KEY=admin
STORAGE_SECRET_KEY=password
# User for generating STS tokens (Frontend read-only access)
STORAGE_STS_USER=stsuser
STORAGE_STS_PASSWORD=stspassword
# Bucket Name
STORAGE_BUCKET=streamtube
# STORAGE_ENDPOINT is used for internal communication(service to service)
STORAGE_ENDPOINT=http://minio:9000
# Set true for MinIO, false for AWS S3
STORAGE_FORCE_PATH_STYLE=true


#######################################
# MINIO EVENT NOTIFICATIONS (Webhooks)
#######################################
MINIO_NOTIFY_AMQP_ENABLE_rabbitmq1=on
# URL must use the internal docker hostname 'rabbitmq'
MINIO_NOTIFY_AMQP_URL_rabbitmq1=amqp://admin:password@rabbitmq:5672/
MINIO_NOTIFY_AMQP_EXCHANGE_rabbitmq1=s3-exchange
MINIO_NOTIFY_AMQP_EXCHANGE_TYPE_rabbitmq1=direct
MINIO_NOTIFY_AMQP_ROUTING_KEY_rabbitmq1=s3
# 1 = Non-Persistent, 2 = Persistent (Recommended)
MINIO_NOTIFY_AMQP_DELIVERY_MODE_rabbitmq1=2
MINIO_NOTIFY_AMQP_DURABLE_rabbitmq1=on


###########################
# POSTGRESQL CONFIGURATION
###########################
PGUSER=admin
PGPASSWORD=password
PGDATABASE=mydatabase


############################
# PGADMIN (Database GUI)
############################
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=password


############################
# RABBITMQ CONFIGURATION
#############################
RABBITMQ_USERNAME=admin
RABBITMQ_PASSWORD=password
RABBITMQ_MANAGEMENT_PORT=15672
# Docker service name (DNS) 'rabbitmq'
RABBITMQ_HOST=rabbitmq
# Video Processing Setup
VIDEO_PROCESSING_EXCHANGE=s3-exchange
VIDEO_PROCESSING_QUEUE=s3-events
VIDEO_PROCESSING_ROUTING_KEY=s3