services:

  db:
    image: mongo
    container_name: mongodb
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    ports:
      - 127.0.0.1:27017:27017
    networks:
        - socialmedia
    volumes:
      - MongoDB:/data/db

  postgres:
    image: postgres:18
    container_name: postgresdb
    restart: always
    environment:
      POSTGRES_USER: ${PGUSER}
      POSTGRES_PASSWORD: ${PGPASSWORD}
      POSTGRES_DB: ${PGDATABASE}
      # Optional: explicitly set PGDATA to the new path used by version 18
      PGDATA: /var/lib/postgresql/18/docker
    ports:
      - "127.0.0.1:5432:5432"
    networks:
        - socialmedia
    volumes:
      # Note: For PostgreSQL 18+, the recommended mount root is /var/lib/postgresql
      - pg-data:/var/lib/postgresql


  bucket-storage:
    image: minio/minio:latest
    container_name: minio 
    environment:
      MINIO_ROOT_USER: ${STORAGE_ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${STORAGE_SECRET_KEY}
    ports:
      - 127.0.0.1:9000:9000  # HTTP port for MinIO
      - 127.0.0.1:9001:9001  # Port for MinIO Web UI (optional)
    networks:
        - socialmedia
    volumes:
      - minio-data:/data
      - ./policies/sts-socialmedia-readonly-policy.json:/polices/sts-socialmedia-readonly-policy.json
    command: server /data --console-address ":9001"
    restart: always
    
  rabbitmq:
      container_name: rabbitmq
      image: rabbitmq:4-management
      ports:
          - 127.0.0.1:5672:5672
          - 127.0.0.1:15672:15672
      networks:
        - socialmedia
      restart: always


volumes:
  MongoDB:
  minio-data:
  pg-data:

networks:
  socialmedia:
   external: true


