######################################################################################################
#                                          STREAMTUBE: App
######################################################################################################

# Usage: Copy to 'app.env' and fill with real credentials
# Note: Generates the 'app-secrets' Secret via Kustomize.


################################
# NODE.JS BACKEND CONFIGURATION
################################
PORT=8080
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=sHjeIiZaSflUUMZgcT5kYTuHr4NFQEGY4hE8jQwKskJ4FY9rPg3GrZgq2PYNfnCEJq3cXwxUgBsBGfZIEemE8tXSJS9udlD3aIgU
ACCESS_TOKEN_EXPIRE=1d
REFRESH_TOKEN_SECRET=PkYsLqWGWaVRwk3BqbW99QA4Y6UzIpy5URR4CO5h6ee5dZj7mQqXWBLUF43myTLfl4cwFUePaEufVqKRPGUcuyZjYEqSeAxlByPP
REFRESH_TOKEN_EXPIRE=10d
STARTUP_INITIAL_DELAY=5000
STARTUP_RETRY_DELAY=5000
STARTUP_MAX_RETRIES=3
# only true or false is allowed
COOKIE_OPTION_SECURE=false 
COOKIE_OPTION_HTTPONLY=false
# flag
SKIP_ENV_VALIDATION=false


###########################
# MONGODB CONFIGURATION
###########################
MONGODB_URI=mongodb://root:root@mongodb-0.mongodb.default.svc.cluster.local:27017
MONGODB_NAME=streamtube
MONGODB_AUTH_SOURCE=admin
MONGODB_CONNECTION_TIMEOUT=5000


#####################################
# OBJECT STORAGE (MinIO / AWS S3)
#####################################
STORAGE_REGION=us-east-1
STORAGE_ACCESS_KEY=admin
STORAGE_SECRET_KEY=password
STORAGE_BUCKET=streamtube
# User for generating STS tokens (Frontend read-only access)
STORAGE_STS_USER=stsuser
STORAGE_STS_PASSWORD=stspassword
# STORAGE_ENDPOINT is used for internal communication(service to service)
STORAGE_ENDPOINT=http://minio.default.svc.cluster.local:9000
# STORAGE_EXTERNAL_ENDPOINT IS USED FOR external communication(frontend, presigned URL, access via STS)
# Use 'localhost' if port-forwarding, or your Ingress domain
STORAGE_EXTERNAL_ENDPOINT=http://minio.streamtube.local
# Set true for MinIO, false for AWS S3
STORAGE_FORCE_PATH_STYLE=true


###########################
# POSTGRESQL CONFIGURATION
###########################
# Prisma Connection String
DATABASE_URL=postgresql://admin:admin@postgres-0.postgres.default.svc.cluster.local:5432/mydatabase