services:
    api-service-node-dev:
      image: node:trixie-slim
      container_name: api-service-node-dev
      ports:
        - 127.0.0.1:8001:${PORT}
      volumes:
        - ../../backend/api:/app/
      working_dir: /app 
      command: sh -c "npm run dev"
      networks:
        - socialmedia
      user: 1000:1000
      environment:
        DB_ROOT_USERNAME: ${DB_ROOT_USERNAME}
        DB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
        PORT: ${PORT}
        MONGODB_URI: ${MONGODB_URI}
        AUTH_SOURCE: ${AUTH_SOURCE}
        CORS_ORIGIN: ${CORS_ORIGIN}
        ACCESS_TOKEN_SECRET: ${ACCESS_TOKEN_SECRET} 
        ACCESS_TOKEN_EXPIRE: ${ACCESS_TOKEN_EXPIRE}
        REFRESH_TOKEN_SECRET: ${REFRESH_TOKEN_SECRET}
        REFRESH_TOKEN_EXPIRE: ${REFRESH_TOKEN_EXPIRE}
  
    pgadmin:
      image: dpage/pgadmin4:latest
      container_name: pgadmin
      restart: always
      environment:
        PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
        PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
      networks:
        - socialmedia
      ports:
        - "127.0.0.1:5050:80"
      # depends_on:
      #   - postgres
      volumes:
        - pgadmin-data:/var/lib/pgadmin


    db:
      image: mongo
      container_name: mongodb
      restart: always
      environment:
        MONGO_INITDB_ROOT_USERNAME: ${DB_ROOT_USERNAME}
        MONGO_INITDB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      ports:
        - 127.0.0.1:27017:27017
      networks:
          - socialmedia
      volumes:
        - MongoDB:/data/db

    postgres:
      image: postgres:18
      container_name: postgresdb
      restart: always
      environment:
        POSTGRES_USER: ${PGUSER}
        POSTGRES_PASSWORD: ${PGPASSWORD}
        POSTGRES_DB: ${PGDATABASE}
        # Optional: explicitly set PGDATA to the new path used by version 18
        PGDATA: /var/lib/postgresql/18/docker
      ports:
        - "127.0.0.1:5432:5432"
      networks:
          - socialmedia
      volumes:
        # Note: For PostgreSQL 18+, the recommended mount root is /var/lib/postgresql
        - pg-data:/var/lib/postgresql


    bucket-storage:
      image: minio/minio:latest
      container_name: minio 
      environment:
        MINIO_ROOT_USER: ${STORAGE_ACCESS_KEY}
        MINIO_ROOT_PASSWORD: ${STORAGE_SECRET_KEY}
        # for event notfication
        MINIO_NOTIFY_AMQP_ENABLE_rabbitmq1: ${MINIO_NOTIFY_AMQP_ENABLE_rabbitmq1}
        MINIO_NOTIFY_AMQP_URL_rabbitmq1: ${MINIO_NOTIFY_AMQP_URL_rabbitmq1}
        MINIO_NOTIFY_AMQP_EXCHANGE_rabbitmq1: ${MINIO_NOTIFY_AMQP_EXCHANGE_rabbitmq1}
        MINIO_NOTIFY_AMQP_EXCHANGE_TYPE_rabbitmq1: ${MINIO_NOTIFY_AMQP_EXCHANGE_TYPE_rabbitmq1}
        MINIO_NOTIFY_AMQP_ROUTING_KEY_rabbitmq1: ${MINIO_NOTIFY_AMQP_ROUTING_KEY_rabbitmq1}
        MINIO_NOTIFY_AMQP_DELIVERY_MODE_rabbitmq1: ${MINIO_NOTIFY_AMQP_DELIVERY_MODE_rabbitmq1}
        MINIO_NOTIFY_AMQP_DURABLE_rabbitmq1: ${MINIO_NOTIFY_AMQP_DURABLE_rabbitmq1}
      ports:
        - 9000:9000  # HTTP port for MinIO
        - 127.0.0.1:9001:9001  # Port for MinIO Web UI (optional)
      networks:
          - socialmedia
      volumes:
        - minio-data:/data
        - ../../infra/s3/:/polices/
      command: server /data --console-address ":9001"
      restart: always
      
    rabbitmq:
        container_name: rabbitmq
        image: rabbitmq:4-management
        ports:
            - 5672:5672
            - 127.0.0.1:15672:15672
        networks:
          - socialmedia
        restart: always


volumes:
  MongoDB:
  minio-data:
  pg-data:
  pgadmin-data:

networks:
  socialmedia:
   external: true





