apiVersion: keda.sh/v1alpha1
kind: ScaledJob
metadata:
  name: video-transcoder
spec:
  pollingInterval: 5            # seconds
  maxReplicaCount: 10           # cap at 10 pods

  successfulJobsHistoryLimit: 0
  failedJobsHistoryLimit: 3

  jobTargetRef:
    parallelism: 1
    completions: 1
    backoffLimit: 1
    template:
      spec:
        restartPolicy: Never
        containers:
          - name: video-transcoder
            image: video-transcoder2:latest
            imagePullPolicy: Never
            envFrom:
              - configMapRef:
                  name: video-transcoder-env

  triggers:
    - type: rabbitmq
      metadata:
        protocol: amqp
        host: amqp://host.minikube.internal:5672
        queueName: s3-events
        mode: QueueLength
        value: "1"               # 1 message = 1 pod
