apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

configMapGenerator:
  - name: rabbitmq-init-script
    files:
      - rabbitmq/init.sh
  - name: minio-setup-files
    files:
      - s3/init.sh
      - s3/sts-streamtube-readonly-policy.json
