#####################################################################################################
#                                         STREAMTUBE: RabbitMQ
#####################################################################################################

# Usage: Copy to 'rabbitmq.env' and fill with real credentials
# Note: Generates the 'rabbitmq-secrets' Secret via Kustomize.


############################
# RABBITMQ CONFIGURATION
#############################
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=password

# 'INIT_RABBITMQ_' prefix variable use for rabbitmq init script (infra/config/rabbitmq/init.sh)

INIT_RABBITMQ_MANAGEMENT_PORT=15672
# Docker service name (DNS) 'rabbitmq'
INIT_RABBITMQ_HOST=rabbitmq-0.rabbitmq.default.svc.cluster.local
# Video Processing Setup
INIT_RABBITMQ_VIDEO_PROCESSING_EXCHANGE=video.events
INIT_RABBITMQ_VIDEO_PROCESSING_QUEUE=video.transcode.queue
INIT_RABBITMQ_VIDEO_PROCESSING_ROUTING_KEY=video.raw.uploaded