#####################################################################################################
#                                         STREAMTUBE: RabbitMQ
#####################################################################################################

# Usage: Copy to 'rabbitmq.env' and fill with real credentials
# Note: Generates the 'rabbitmq-secrets' Secret via Kustomize.


############################
# RABBITMQ CONFIGURATION
#############################
# Docker service name (DNS) 'rabbitmq'
RABBITMQ_HOST=rabbitmq-0.rabbitmq.default.svc.cluster.local
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=password
# Video Processing Setup
VIDEO_PROCESSING_EXCHANGE=s3-exchange
VIDEO_PROCESSING_QUEUE=s3-events
VIDEO_PROCESSING_ROUTING_KEY=s3