apiVersion: v1
kind: Service
metadata:
  name: streamtube-app
spec:
  type: ClusterIP      
  selector:
    part-of: streamtube   
    component: app
  ports:
    - port: 8001           
      targetPort: 8001

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: streamtube-app
spec:
  replicas: 1
  selector:
    matchLabels:
      part-of: streamtube
      component: app
  template:
    metadata:
      labels:
        part-of: streamtube
        component: app
    spec:
      containers:
        - name: app
          image: streamtube-app
          imagePullPolicy: Never
          ports:
            - containerPort: 8001 

          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "2Gi"
              cpu: "4000m"

          readinessProbe:
            httpGet:
              path: /api/v1/healthcheck
              port: 8001
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3


          livenessProbe:
            httpGet:
              path: /api/v1/healthcheck
              port: 8001
            initialDelaySeconds: 30
            periodSeconds: 20
            timeoutSeconds: 5
            failureThreshold: 5

          envFrom:
            - secretRef:
                name: streamtube-secrets