apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../config
  - ingress.yaml
  - app.yaml
  - video-transcoder-worker.yaml
  - rabbitmq.yaml
  - minio.yaml
  - postgres.yaml
  - mongodb.yaml

secretGenerator:
  - name: streamtube-secrets
    envs:
      - .env.k8s
    type: Opaque
    options:
      disableNameSuffixHash: true # because KEDA can't handle random suffix
