apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - app.yaml
  - video-transcoder-scaledjob.yaml
  - rabbitmq.yaml

configMapGenerator:
  - name: rabbitmq-init-script
    files:
      - rabbitmq/init.sh

secretGenerator:
  - name: streamtube-secrets
    envs:
      - .env.k8s
    type: Opaque
    options: 
      disableNameSuffixHash: true # because keda can't handle random suffix