apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - app.yaml
  - video-transcoder-scaledjob.yaml

secretGenerator:
  - name: streamtube-secrets
    envs:
      - .env.k8s
    type: Opaque