apiVersion: v1
kind: Service
metadata:
  name: rabbitmq
spec:
  clusterIP: None
  selector:
    app: rabbitmq
  ports:
    - port: 5672
      targetPort: 5672
      name: amqp
    - port: 15672
      targetPort: 15672
      name: management
      
---

apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: rabbitmq
spec:
  serviceName: "rabbitmq"
  replicas: 1
  selector:
    matchLabels:
      app: rabbitmq
  template:
    metadata:
      labels:
        app: rabbitmq
    spec:
      containers:
        - name: rabbitmq
          image: rabbitmq:4-management
          ports:
            - containerPort: 5672
            - containerPort: 15672
          env: 
            - name: RABBITMQ_DEFAULT_USER
              valueFrom: 
                secretKeyRef:
                  name: streamtube-secrets
                  key: RABBITMQ_DEFAULT_USER
            - name: RABBITMQ_DEFAULT_PASS
              valueFrom:
                secretKeyRef:
                  name: streamtube-secrets
                  key: RABBITMQ_DEFAULT_PASS
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "1Gi"
              cpu: "500m"
          livenessProbe:
            exec:
              command: ["rabbitmq-diagnostics", "-q", "ping"]
            initialDelaySeconds: 20
            periodSeconds: 10
            timeoutSeconds: 15
            failureThreshold: 3
          readinessProbe:
            exec:
              command: ["rabbitmq-diagnostics", "-q", "ping"]
            initialDelaySeconds: 20
            periodSeconds: 10
            timeoutSeconds: 10
          volumeMounts:
            - name: rabbitmq-data
              mountPath: /var/lib/rabbitmq
  volumeClaimTemplates:
    - metadata:
        name: rabbitmq-data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 2Gi

---

apiVersion: batch/v1
kind: Job
metadata:
  name: rabbitmq-init
spec:
  ttlSecondsAfterFinished: 100
  template:
    spec:
      restartPolicy: OnFailure
      containers:
      - name: rabbitmq-init
        image: rabbitmq:4-management
        command: ["/bin/sh", "/scripts/init.sh"]
        env: 
            - name: RABBITMQ_DEFAULT_USER
              valueFrom: 
                secretKeyRef:
                  name: streamtube-secrets
                  key: RABBITMQ_DEFAULT_USER
            - name: RABBITMQ_DEFAULT_PASS
              valueFrom:
                secretKeyRef:
                  name: streamtube-secrets
                  key: RABBITMQ_DEFAULT_PASS
            - name: RABBITMQ_HOST
              valueFrom:
                secretKeyRef:
                  name: streamtube-secrets
                  key: RABBITMQ_HOST
            - name: RABBITMQ_MANAGEMENT_PORT
              valueFrom:
                secretKeyRef:
                  name: streamtube-secrets
                  key: RABBITMQ_MANAGEMENT_PORT
            
        volumeMounts:
          - name: rabbitmq-init-volume
            mountPath: /scripts
      volumes:
        - name: rabbitmq-init-volume
          configMap:
            name: rabbitmq-init-script
            defaultMode: 0777


            

