apiVersion: keda.sh/v1alpha1
kind: ScaledJob
metadata:
  name: streamtube-video-transcoder-worker
  labels:
    part-of: streamtube
    component: worker
spec:
  pollingInterval: 2 #sec
  maxReplicaCount: 10 #parallel videos
  successfulJobsHistoryLimit: 0 # Clean up success immediately
  failedJobsHistoryLimit: 3 # Keep 3 failures for debugging

  triggers:
    - type: rabbitmq
      metadata:
        protocol: amqp
        hostFromEnv: RABBITMQ_URL
        queueName: s3-events
        mode: QueueLength
        value: '1' # 1 message = 1 worker pod

  jobTargetRef:
    parallelism: 1
    completions: 1
    backoffLimit: 1
    template:
      metadata:
        labels:
          part-of: streamtube
          component: worker
      spec:
        restartPolicy: Never
        containers:
          - name: streamtube-video-transcoder-worker
            image: streamtube-video-transcoder-worker
            imagePullPolicy: Never
            resources:
              requests:
                memory: '512Mi'
                cpu: '500m'
              limits:
                memory: '2Gi'
                cpu: '2000m'
            envFrom:
              - secretRef:
                  name: streamtube-secrets
