######################################################################################################
#                                       STREAMTUBE: Postgres
######################################################################################################

# Usage: Copy to 'postgres.env' and fill with real credentials
# Note: Generates the 'postgres-secrets' Secret via Kustomize.


###########################
# POSTGRESQL CONFIGURATION
###########################
PGUSER=admin
PGPASSWORD=password
PGDATABASE=mydatabase