######################################################################################################
#                                       STREAMTUBE: Postgres
######################################################################################################

# Usage: Copy to 'postgres.env' and fill with real credentials
# Note: Generates the 'postgres-secrets' Secret via Kustomize.


###########################
# POSTGRESQL CONFIGURATION
###########################
POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_DB=mydatabase