######################################################################################################
#                                  STREAMTUBE: Video Transcoder
######################################################################################################

# Usage: Copy to 'video-transcoder-secrets' and fill with real credentials
# Note: Generates the 'video-transcoder-secrets' Secret via Kustomize.


#####################################
# OBJECT STORAGE (MinIO / AWS S3)
#####################################
STORAGE_REGION=us-east-1
STORAGE_ACCESS_KEY=admin
STORAGE_SECRET_KEY=password
STORAGE_BUCKET=streamtube
# STORAGE_ENDPOINT is used for internal communication(service to service)
STORAGE_ENDPOINT=http://minio.default.svc.cluster.local:9000
# Set true for MinIO, false for AWS S3
STORAGE_FORCE_PATH_STYLE=true


############################
# RABBITMQ CONFIGURATION
#############################
# Connection String used by the Video Transcoder
RABBITMQ_URL=amqp://admin:password@rabbitmq-0.rabbitmq.default.svc.cluster.local:5672
# The queue the worker listens to (Must match MinIO routing key)
RABBITMQ_QUEUE=video.transcode.queue