##########################
# VIDEO TRANSCODER WORKER
##########################

# - Copy this file to .env
# - Adjust values if needed (defaults work for compose.yaml/compose.dev.yaml)
# - Don't use these hostnames for Kubernetes
# - For Kubernetes deployments, use the configurations in infra/k8s/


#####################################
# OBJECT STORAGE (MinIO / AWS S3)
#####################################
STORAGE_REGION=us-east-1
STORAGE_ACCESS_KEY=admin
STORAGE_SECRET_KEY=password
STORAGE_BUCKET=streamtube
# STORAGE_ENDPOINT is used for internal communication(service to service)
STORAGE_ENDPOINT=http://minio:9000
# Set true for MinIO, false for AWS S3
STORAGE_FORCE_PATH_STYLE=true


############################
# RABBITMQ CONFIGURATION
#############################
# Connection String used by the Video Transcoder
RABBITMQ_URL=amqp://admin:password@rabbitmq:5672
# The queue the worker listens to
RABBITMQ_VIDEO_PROCESSING_QUEUE=video.transcode.queue
